body {
  font-family: 'Karla', sans-serif;
  font-size: 16;
  margin: 0
}
h2 {
  margin: 20px auto;
}
span {
  color: #e5eff5;
  font-size: 30px;
  font-style: bold;
  margin-right: 10px;
}
.topcontainer {
  margin-left: 50px;
  width: 100%
}
.header {
  color: #2ab2af;
  padding-bottom: 10px;
}
.subheader {
  color: #c0df34;
}
.headerinfo {
color: #98a6bd;
margin: 0;
}
.headerinfo2 {
  color: #98a6bd;
}
.middlecontainer {
  text-align: center;
  background-color: #2ab2af;
  color: #e5eff5;
  margin-top: 30px;
  width: 50%;
  height: 300px;
  float: left;
}
.middlepar1 {
  color: #d3dbe0;
}
.myButton {
  margin: 30px;
	box-shadow: 1px 4px 9px 0px #1e7d7a;
	background:linear-gradient(to bottom, #c0df34 5%, #c0df34 100%);
	background-color:#c0df34;
	border-radius:4px;
	border:1px solid #c0df34;
	display:inline-block;
	cursor:pointer;
	color:#e5eff5;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:16px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c0df34;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c0df34 5%, #c0df34 100%);
	background-color:#c0df34;
}
.myButton:active {
	position:relative;
	top:1px;
}
.middleheader {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
}
.middlepar1 {
  text-align: left;
  margin-left: 50px;
}
.middlepar2 {
  text-align: left;
  margin-left: 50px;
}
.bottomcontainer {
  background-color: #2fc4bf;
  color: #e5eff5;
  margin-top: 30px;
  width: 50%;
  float: right;
  height: 300px;
}
.bottomheader {
  margin-left: 50px;
  margin-top: 50px;
}
.bottompar {
  color: #d3dbe0;
  margin-left: 50px;
  line-height: .6;
}
